{% extends 'basic_form.html' %}

{% block content %}
<h4>User : {{request.user.username}}
<span style="float: right;"><a href="/application/logout">Logout</a></span>
</h4>
<h3>Academic Information</h3>
<form method="post"  enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group row">
        <div class="row">
        <div class="col-sm-2 col-xs-2">Degree</div>
        <div class="col-sm-2 col-xs-2">Institution</div>
        <div class="col-sm-2 col-xs-2">Institution Address</div>
        <div class="col-sm-2 col-xs-2">CGPA Percentage</div>
        <div class="col-sm-2 col-xs-2">Marksheet</div>
        </div>


    {% for field in form %}
        {% if 'Degree' in field.label_tag %}
            <div class="row">
        {% endif %}
                {% if 'Degree' in field.label_tag or 'Institution' in field.label_tag or 'Cgpa' in field.label_tag or 'Marksheet' in field.label_tag %}
        <div class="col-sm-2 col-xs-2">
        {{ field }}
        {% if field.help_text %}
          {%autoescape off %}
            {{ field.help_text }}
          {%endautoescape%}
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
                </div>
                {% if 'Marksheet' in field.label_tag %}
            </div><br>
        {% endif %}
        {% else %}


        <!--Display the attestation details-->
        <div class="row">
        <div class="col-sm-8">
            {{ field.label_tag }}{% if field.field.required %}<strong> *</strong>{% endif %}
            <br>
        {{ field }}
        {% if field.help_text %}
          {%autoescape off %}
            {{ field.help_text }}
          {%endautoescape%}
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
            </div>
        <div class="col-sm-4 col-xs-4"></div>
            </div>

        {% endif %}
    {% endfor %}
        </div>
    <button type="submit">Continue</button>
  </form>
{% endblock content %}

{% block script %}
{{ block.super }}
<script>
    for(var i=1; i<=4; i++){
        $("#id_marksheet"+i).removeClass("form-control")
    }
</script>
{% endblock %}