{% extends 'basic_form.html' %}

{% block otherlibs %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" integrity="sha256-iXUYfkbVl5itd4bAkFH5mjMEN5ld9t3OHvXX3IU8UxU=" crossorigin="anonymous" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js" integrity="sha256-egVvxkq6UBCQyKzRBrDHu8miZ5FOaVrjSqQqauKglKc=" crossorigin="anonymous"></script>
{% endblock %}

{% block script %}

    {{ block.super }}

    <script>
    var dept1 = $("#id_department_preference_1")
    var dept2 = $("#id_department_preference_2")
    var dept3 = $("#id_department_preference_3")
    var dept4 = $("#id_department_preference_4")
    var valueSet = new Set();
    hideAll()
    function hideAll() {
        $("select[id^='id_department_preference_']").prop('required', false).parent().hide()
        $("select[id^='id_department_preference_'] option").hide()
        $("select[id^='id_department_preference_'] option:selected").prop("selected", false);
        $("select[id^='id_department_preference_'] option[value='']").prop("selected", true)
        $("#id_phd_interest").prop('required', false).parent().hide()
        $("#id_published_papers").parent().hide()
    }

    function showThese(toShow) {
        if(toShow == 'btech') {
            console.log('show btech')
            $('option[value^="B_"]').show()
            $("select[id^='id_department_preference_'").prop('required', true).parent().show()
        } else if (toShow == 'mtech') {
            $('option[value^="M_"]').show()
            $("select[id^='id_department_preference_'").prop('required', true).parent().show()
        } else if (toShow == 'phd') {
            $("#id_phd_interest").prop('required', true).parent().show()
            $("#id_published_papers").parent().show()
        }
    }
    $("#id_program_applying_for").change(function(){
        console.log($("#id_program_applying_for option:selected").val())
        hideAll()
        showThese($("#id_program_applying_for option:selected").val())
    });
    $("select").change(function(){

        console.log("change occured")
        if(dept1.val() && dept2.val() && dept3.val() && dept4.val()) {
            $(':input[type="submit"]').removeClass('disabled');
            $(':input[type="submit"]').prop('disabled', false);
            valueSet.add(dept1.val())
            valueSet.add(dept2.val())
            valueSet.add(dept3.val())
            valueSet.add(dept4.val())
            if(valueSet.size < 4){
                sweetAlert("Wrong Selection", "Cannot select the same course!", "error");
                $(':input[type="submit"]').addClass('disabled');
                $(':input[type="submit"]').prop('disabled', true)
            }
        }
    })

    </script>

{% endblock %}