{% extends 'basic_form.html' %}


{% block content %}
<h4>User : {{request.user.username}}
<span style="float: right;"><a href="/application/logout">Logout</a></span>
</h4>
<h3> Basic Info </h3>
<br>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group row">
    {% for field in form %}
        <div class="container">
        <div class="col-xs-4">
            {{ field.label_tag }}{% if field.field.required %}<strong> *</strong>{% endif %}
            {% if field.name == 'current_address' %}
            <div><label for="address_checkbox" style="word-wrap:break-word"><input id="address_checkbox" type="checkbox" style="vertical-align:left;"/>
                Same as permanent address</label></div>
                {% endif %}
            <br>
        {{ field }}
        {% if field.help_text %}
          {%autoescape off %}
            {{ field.help_text }}
          {%endautoescape%}
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
            </div>
        <div class="col-xs-8"></div>
            </div>
        <br>
    {% endfor %}
        </div>
    <button type="submit">Continue</button>
  </form>
{% endblock content %}

{% block script %}
    {{ block.super }}
    <script>
    swal("You've been sent an email. Check your mailbox.", "Note: If email is not received immediately check after some time");
    $("#address_checkbox").click(function(){
        if(document.getElementById('address_checkbox').checked){
            $("#id_current_address").val($("#id_permanent_address").val());
         }

    })
    $("#id_country_of_citizenship").change(function() {
        console.log($("#id_country_of_citizenship").val())
        jQuery.getJSON("https://restcountries.eu/rest/v2/alpha/"+$("#id_country_of_citizenship").val(), function(data){
            $("#id_phone_number").val("+"+data["callingCodes"][0])
        })
    })
    </script>
{% endblock %}
