{% extends 'basic_form.html' %}

<!--<form method="post">-->
    <!--{% csrf_token %}-->
    <!--{% for field in form %}-->
      <!--<p>-->
        <!--{{ field.label_tag }}<br>-->
        <!--{{ field }}-->
        <!--{% if field.help_text %}-->
          <!--{%autoescape off %}-->
            <!--{{ field.help_text }}-->
          <!--{%endautoescape%}-->
        <!--{% endif %}-->
        <!--{% for error in field.errors %}-->
          <!--<p style="color: red">{{ error }}</p>-->
        <!--{% endfor %}-->
      <!--</p>-->
    <!--{% endfor %}-->
    <!--<button type="submit">Continue</button>-->
  <!--</form>-->

{% block subheading %}
<br>
<h3>Do you have any physical or mental health condition or other issue which may prevent you to undertake full-time study?</h3>
<br>
{% endblock %}