{% extends 'basic_form.html' %}

<!--<form method="post">-->
    <!--{% csrf_token %}-->
    <!--{% for field in form %}-->
      <!--<p>-->
        <!--{{ field.label_tag }}<br>-->
        <!--{{ field }}-->
        <!--{% if field.help_text %}-->
          <!--{%autoescape off %}-->
            <!--{{ field.help_text }}-->
          <!--{%endautoescape%}-->
        <!--{% endif %}-->
        <!--{% for error in field.errors %}-->
          <!--<p style="color: red">{{ error }}</p>-->
        <!--{% endfor %}-->
      <!--</p>-->
    <!--{% endfor %}-->
    <!--<button type="submit">Continue</button>-->
  <!--</form>-->

{% block script %}
{{ block.super }}
<script>
    $("#id_signature").removeClass("form-control")
</script>
{% endblock %}