{% extends 'basic_form.html' %}

{% block subheading %}
<h3>Language Proficiency Information</h3>
{% endblock %}
<!--<form method="post">-->
    <!--{% csrf_token %}-->
    <!--{% for field in form %}-->
      <!--<p>-->
        <!--{{ field.label_tag }}<br>-->
        <!--{{ field }}-->
        <!--{% if field.help_text %}-->
          <!--{%autoescape off %}-->
            <!--{{ field.help_text }}-->
          <!--{%endautoescape%}-->
        <!--{% endif %}-->
        <!--{% for error in field.errors %}-->
          <!--<p style="color: red">{{ error }}</p>-->
        <!--{% endfor %}-->
      <!--</p>-->
    <!--{% endfor %}-->
    <!--<button type="submit">Continue</button>-->
  <!--</form>-->

{% block script %}
{{ block.super }}
<script>

    function disable(myElement) {
        $(myElement).prop("disabled", true)
        $(myElement).prop("required", false)
    }

    function enable(myElement) {
        $(myElement).prop("disabled", false)
        $(myElement).prop("required", true)
    }

    disable("#id_english_document")
    disable("#id_toefl_score")
    disable("#id_ielts_score")


    $("#id_proficient_english_0").click(function() {
        enable("#id_english_document")
    })
    $("#id_proficient_english_1").click(function() {
        disable("#id_english_document")
    })

    $("#id_toefl_choice_0").click(function() {
        enable("#id_toefl_score")
    })
    $("#id_toefl_choice_1").click(function() {
        disable("#id_toefl_score")
    })

    $("#id_ielts_choice_0").click(function() {
        enable("#id_ielts_score")
    })
    $("#id_ielts_choice_1").click(function() {
        disable("#id_ielts_score")
    })


</script>
{% endblock %}