{% extends 'basic_form.html' %}

{% block content %}

<div class="submitForm"></div>

{% endblock %}

{% block script %}
{{ block.super }}
<script>
var form;
function post(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);
	    console.log(key, params[key]);
            form.appendChild(hiddenField);
         }
    }

    var div = document.createElement("div");
    div.appendChild(form)
    document.body.appendChild(div)
}

post('{{payment_redirect_url}}', {

    'REQUEST_TYPE': 'DEFAULT',
    'MID': '{{my_data.MID}}',
    'ORDER_ID': '{{my_data.ORDER_ID}}',
    'CUST_ID': '{{request.user.username}}',
    'TXN_AMOUNT': '{{my_data.TXN_AMOUNT}}',
    'CHANNEL_ID': 'WEB',
    'INDUSTRY_TYPE_ID': 'Retail',
    'WEBSITE': '{{my_data.WEBSITE}}',
    'MOBILE_NO': '{{my_data.MOBILE_NO}}',
    'EMAIL': '{{my_data.EMAIL}}',
    'CALLBACK_URL': '{{my_data.CALLBACK_URL}}',
    'CHECKSUMHASH': '{{my_data.CHECKSUMHASH}}',

});
</script>
{% endblock %}
