{% extends 'basic_form.html' %}

{% block content %}
<h4>User : {{request.user.username}}
<span style="float: right;"><a href="/application/logout">Logout</a></span>
</h4>
<form method="post">
    {% csrf_token %}
    <div class="form-group row">
        <div class="row">
            <div class="col-sm-3">Recommendation Name</div>
            <div class="col-sm-3">Recommendation Email</div>
            <div class="col-sm-3">Recommendation Phone</div>
            <div class="col-sm-3">Recommendation Letter</div>
        </div>


    {% for field in form %}
        {% if 'name' in field.label_tag %}
            <div class="row">
        {% endif %}
        <div class="col-sm-3">
        {{ field }}
        {% if field.help_text %}
          {%autoescape off %}
            {{ field.help_text }}
          {%endautoescape%}
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
                </div>
                {% if 'letter' in field.label_tag %}
            </div><br>
        {% endif %}
    {% endfor %}
        </div>
    <button type="submit">Continue</button>
  </form>
{% endblock content %}

{% block script %}
{{ block.super }}
<script>
    for(var i=1; i<=4; i++){
        $("#id_marksheet"+i).removeClass("form-control")
    }
</script>
{% endblock %}