{% extends 'basic_form.html' %}

<!--<form method="post">-->
    <!--{% csrf_token %}-->
    <!--{% for field in form %}-->
      <!--<p>-->
        <!--{{ field.label_tag }}<br>-->
        <!--{{ field }}-->
        <!--{% if field.help_text %}-->
          <!--{%autoescape off %}-->
            <!--{{ field.help_text }}-->
          <!--{%endautoescape%}-->
        <!--{% endif %}-->
        <!--{% for error in field.errors %}-->
          <!--<p style="color: red">{{ error }}</p>-->
        <!--{% endfor %}-->
      <!--</p>-->
    <!--{% endfor %}-->
    <!--<button type="submit">Continue</button>-->
  <!--</form>-->

{% block script %}
{{ block.super }}
<script>
    $("#id_approval_letter").removeClass("form-control")


    function disable() {
        $("input[type='text']").prop('readonly', true).prop('required', false).val("");
        $("#id_approval_letter").prop('disabled', true).prop('required', false)
        $( ".datepicker" ).removeClass("hasDatepicker")
        $("#id_visa_expiry_date").datepicker({minDate:-1,maxDate:-2}).prop('readonly', true).prop('required', false);
    }
    disable();
    $("#id_scholarship_bool_0").click(function() {
        $("input[type='text']").prop('readonly', false).prop('required', true);
        $("#id_approval_letter").prop('disabled', false).prop('required', true)
        $( ".datepicker" ).removeClass("hasDatepicker")
        $( ".datepicker" ).datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "yy-mm-dd",
            minDate: new Date(2016, 1 - 1, 1),
            maxDate: new Date(2040, 1 - 1, 1),
            yearRange: "-100:+20"
        }).prop('readonly', false).prop('required', true);
    })
    $("#id_applied_for_indian_visa_1").click(function() {
        disable()
    })
</script>
{% endblock %}