{% extends 'base.html' %}

{% block otherlibs %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" integrity="sha256-iXUYfkbVl5itd4bAkFH5mjMEN5ld9t3OHvXX3IU8UxU=" crossorigin="anonymous" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js" integrity="sha256-egVvxkq6UBCQyKzRBrDHu8miZ5FOaVrjSqQqauKglKc=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<h4>User : {{request.user.username}}
<span style="float: right;"><a href="/application/logout">Logout</a></span>
</h4>

{% block subheading %}
{% endblock %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group row">
    {% for field in form %}
        <div class="container">
        <div class="col-sm-8 col-xs-10">
            {{ field.label_tag }}{% if field.field.required %}<strong> *</strong>{% endif %}<br>
        {{ field }}
        {% if field.help_text %}
          {%autoescape off %}
            {{ field.help_text }}
          {%endautoescape%}
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
            </div>
        <div class="col-sm-4 col-xs-4"></div>
            </div>
        <br>
    {% endfor %}
        </div>
    <button type="submit">Continue</button>
  </form>
{% endblock content %}

{% block script %}
<script>
    $("input").addClass("form-control");
    $("textarea").addClass("form-control");
    $("select").addClass("form-control");
    $("textarea").attr("rows", 4);
    $("input[type='checkbox']").removeClass("form-control")
    $("input[type='radio']").removeClass("form-control")
    $(':input[type="submit"]').addClass('btn btn-primary');
    $("input[type='file']").on('change', function() {
    if(this.files[0].size > 2097152) {
        sweetAlert("File Size error", "Your file is " + (this.files[0].size/1000000) + "MB. It should be less than 2MB" , "error");
        $(':input[type="submit"]').prop('disabled', true).addClass('disabled');
      } else {
        $(':input[type="submit"]').prop('disabled', false).removeClass('disabled');
      }
    })
</script>
{% endblock %}