{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>International Student Application Form</title>

    <!-- Bootstrap -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    {% if user %}
    <div class="container">
        <h1 class="text-center">DELHI TECHNOLOGICAL UNIVERSITY</h1>
        <h2 class="text-center">International Student Application Form</h2>
        <h2>Email: {{user}}</h2>
        <h4 style="text-align:right;"><a href="/application/logout">Logout</a></h4>
        <div class="row">
            <div class="col-md-9">
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Personal Information</legend>
                        {{form1|crispy}}
                    </fieldset>
                    <fieldset>
                        <legend>Academic Information</legend>
                        Program Applying to: {{form2.program_applying_for}}
                        Course Applying for:
                        <table>
                            <tr>
                                <td>{{form2.department_preference1}}</td>
                                <td>1st Preference</td>
                            </tr>
                            <tr>
                                <td>{{form2.department_preference2}}</td>
                                <td>2nd Preference</td>
                            </tr>
                            <tr>
                                <td>{{form2.department_preference3}}</td>
                                <td>3rd Preference</td>
                            </tr>
                            <tr>
                                <td>{{form2.department_preference4}}</td>
                                <td>4th Preference</td>
                            </tr>
                        </table>
                    </fieldset>
                    <fieldset>
                        <legend>Passport Information</legend>
                        {{form_passport|crispy}}
                    </fieldset>
                    <fieldset>
                        <legend>Visa Information</legend>
                        {{form_visa|crispy}}
                    </fieldset>
                    <fieldset>
                        <legend>Language Proficiency</legend>
                        {{form3|crispy}}
                    </fieldset>
                    <fieldset>
                        <legend>PREVIOUS ACADEMIC QUALIFICATIONS (Attach copies of gradesheets/marksheets)</legend>
                        <table>
                            <tr>
                                <th>Degree</th>
                                <th>Institution</th>
                                <th>Institution Address</th>
                                <th>CGPA/Percentage</th>
                                <th>Upload marksheet</th>
                            </tr>
                            <tr>
                                <td>{{form4.degree1}}</td>
                                <td>{{form4.institution1}}</td>
                                <td>{{form4.institution_address1}}</td>
                                <td>{{form4.cgpa_percentage1}}</td>
                                <td>{{form4.marksheet1}}</td>
                            </tr>
                            <tr>
                                <td>{{form4.degree2}}</td>
                                <td>{{form4.institution2}}</td>
                                <td>{{form4.institution_address2}}</td>
                                <td>{{form4.cgpa_percentage2}}</td>
                                <td>{{form4.marksheet2}}</td>
                            </tr>
                            <tr>
                                <td>{{form4.degree3}}</td>
                                <td>{{form4.institution3}}</td>
                                <td>{{form4.institution_address3}}</td>
                                <td>{{form4.cgpa_percentage3}}</td>
                                <td>{{form4.marksheet3}}</td>
                            </tr>
                            <tr>
                                <td>{{form4.degree4}}</td>
                                <td>{{form4.institution4}}</td>
                                <td>{{form4.institution_address4}}</td>
                                <td>{{form4.cgpa_percentage4}}</td>
                                <td>{{form4.marksheet4}}</td>
                            </tr>
                        </table>
                        <br>
                    </fieldset>
                    <fieldset>
                        {{form_aqtest|crispy}}
                        <strong>ALL PAGES of the documents must be attested</strong>
                    </fieldset>
                    <fieldset>
                        <legend>WORK EXPERIENCE</legend>
                        <table>
                            <tr>
                                <th>Name of Company</th>
                                <th>Full Address</th>
                                <th>Role/Position</th>
                                <th>Period of Employment (in months)</th>
                            </tr>
                            <tr>
                                <td>{{form_work.company_name1}}</td>
                                <td>{{form_work.company_address1}}</td>
                                <td>{{form_work.company_position1}}</td>
                                <td>{{form_work.employment_period1}}</td>
                            </tr>
                            <tr>
                                <td>{{form_work.company_name2}}</td>
                                <td>{{form_work.company_address2}}</td>
                                <td>{{form_work.company_position2}}</td>
                                <td>{{form_work.employment_period2}}</td>
                            </tr>
                        </table>
                    </fieldset>
                    <fieldset>
                        <legend>Test Scores (if any)</legend>
                        <table>
                            <tr>
                                <th>Name</th>
                                <th>Score</th>
                                <th>Date</th>
                            </tr>
                            <tr>
                                <td>{{form5.test_name1}}</td>
                                <td>{{form5.test_score1}}</td>
                                <td>{{form5.test_date1}}</td>
                            </tr>
                            <tr>
                                <td>{{form5.test_name2}}</td>
                                <td>{{form5.test_score2}}</td>
                                <td>{{form5.test_date2}}</td>
                            </tr>
                            <tr>
                                <td>{{form5.test_name3}}</td>
                                <td>{{form5.test_score3}}</td>
                                <td>{{form5.test_date3}}</td>
                            </tr>
                        </table>
                        <br>
                    </fieldset>
                    <fieldset>
                        <legend>Disability</legend>
                        {{form6|crispy}}
                    </fieldset>
                    <fieldset>
                        <legend>Scholarship/ Fellowship Information</legend>
                        {{form7|crispy}}
                    </fieldset>
                    <fieldset>
                        {{form_crime|crispy}}
                    </fieldset>
                    <fieldset>
                        <legend>FINANCIAL ASSISTANCE AND SPONSOR INFORMATION </legend>
                        {{form8|crispy}}
                    </fieldset>
                    <fieldset>
                        <legend>LOCAL GUARDIAN INFORMATION </legend>
                        Mention the name of a local guardian in Delhi who can be contacted in case of an emergency during your stay at the Delhi Technological University 
                        {{form_guardian|crispy}}
                    </fieldset>
                    <fieldset>
                        <legend>RECOMMENDATIONS (Optional) </legend>
                        Please name two referees who are aware of your academic/work performance and can be contacted by the university
                        <table>
                            <tr>
                                <td>Name</td>
                                <td>{{form_recommendation.recommendation_name1}}</td>
                                <td>E-Mail ID</td>
                                <td>{{form_recommendation.recommendation_email1}}</td>
                                <td>Phone Number</td>
                                <td>{{form_recommendation.recommendation_phone1}}</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>{{form_recommendation.recommendation_name2}}</td>
                                <td>E-Mail ID</td>
                                <td>{{form_recommendation.recommendation_email2}}</td>
                                <td>Phone Number</td>
                                <td>{{form_recommendation.recommendation_phone2}}</td>
                            </tr>
                        </table>
                    </fieldset>
                    </fieldset>
                    <fieldset>
                        <legend>Declaration</legend>
                        <ol>
                            <li>The information I have submitted with my application is true, correct and complete.</li>
                            <li>I understand that all documents submitted with this application will become the property of the
                                University and will not be returned.</li>
                            <li>The University may vary or reverse any decision it makes based on incorrect, incomplete or fraudulent
                                information provided in my application.</li>
                            <li>I will notify the University immediately if there is any change to the information I have given
                                in this application.</li>
                            <li>I have accessed information regarding the costs associated of living in India for me and any
                                dependents accompanying me.</li>
                            <li>I have accessed information regarding the costs related to studying Delhi Technological University</li>
                            <li>I have sufficient funds to finance my studies including tuition fees, ancillary costs and living
                                expenses for me and any dependents accompanying me to India</li>
                        </ol>
                        {{form9|crispy}}
                    </fieldset>
                    <input type="submit" value="Submit" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
    {%endif%}
    {% if not user %}
    <h3>Login first at: <a href="/application/login">here</a></h3>
    {%endif%}
    <br>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>

</html>