{% extends 'base.html' %}

{% block otherlibs %}
<style>
  .form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
  <form method="post" class="form-signin">
    {% csrf_token %}
      <label for="inputEmail" class="sr-only">Email address</label>
      <input name="username" id="inputEmail" type="email" class="form-control" placeholder="Email Address" required autofocus><br>
      <label for="inputPassword" class="sr-only">Password</label>
      <input name="password" type="password" class="form-control" placeholder="Password" id="inputPassword">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    <h4>If not already signup first : <a href="/application/signup">here</a></h4>
  </form>
    {% if error is not None %}
        {{error}}
    {% endif %}
</div>
{% endblock %}
