{% extends 'basic_form.html' %}

{% block otherlibs %}

{% endblock %}

{% block content %}
<h4>User : {{user}}
    {% if user == request.user.username %}
<span style="float: right;"><a href="/application/logout">Logout</a></span>
    {% endif %}
</h4>

<input type="button" value="Print this page" onClick="window.print()">
<br><br>
<div class="row">
    <div class="col-sm-6 col-xs-6">
        <img src="/media/{{forms.0.user_pic.data}}" width="150" height="200"><br>
        <hr>
        Photo
    </div>
    <div class="col-sm-4 col-xs-4">
        <img src="/media/{{forms.14.signature.data}}" width="200" height="150"><br>
        <hr>
        Signature
    </div>
</div>
<br><br>
{% for form in forms %}
{% for field in form %}

    {% if 'Your Photo' not in field.label_tag and field.data != None and 'Signature' not in field.label_tag and 'Degree' not in field.label_tag and 'Institution' not in field.label_tag and 'Cgpa' not in field.label_tag and 'Marksheet' not in field.label_tag and field.data != '' %}
    {% if 'bank statement' not in field.label_tag and 'Test' not in field.label_tag and 'Company' not in field.label_tag and 'Employment' not in field.label_tag and 'attach supporting documents' not in field.label_tag and 'Recommendation' not in field.label_tag and 'uploads/' not in field.data %}
    <div class="row">
        <div class="col-sm-6 col-xs-6">
            {{ field.label_tag }}
        </div>

        <div class="col-sm-6 col-xs-6">
            {% if field.data == False %}
                No
            {% elif field.data == True %}
                Yes
            {% else %}
                {{field.data}}
            {% endif %}
        </div>
        <br>

    </div>
    {% endif %}
    {% endif %}

    {% if 'Degree1' in field.label_tag %}
<br>
        <table style="width: 100%;">
        <tr>
        <th>Degree</th>
        <th>Institution</th>
        <th>Institution Address</th>
        <th>CGPA Percentage</th>
        </tr>
{% endif %}
    {% if 'Degree' in field.label_tag %}
    <tr>
        {% endif %}
        {% if field.data != None %}
        {% if 'Degree' in field.label_tag or 'Institution' in field.label_tag or 'Cgpa' in field.label_tag %}

        <td>

        {{ field.data }}
        </td>

        {% endif %}
        {% endif %}
        {% if 'Cgpa' in field.label_tag %}

    </tr>
            {% if '4' in field.label_tag %}
        </table>
<br>
            {% endif %}
        {% endif %}


{% if 'Company' in field.label_tag or 'Employment' in field.label_tag %}
{% if form.company_name1.data != None %}
{% if 'name1' in field.label_tag %}
<br>
        <table style="width: 100%;">
        <tr>
            <th>Company Name</th>
            <th>Company Address</th>
            <th>Position in Company</th>
            <th>Employment period (months)</th>
        </tr>
            {% endif %}
    {% if 'name' in field.label_tag %}
    <tr>
        {% endif %}
        {% if field.data != None %}

        <td>

        {{ field.data }}
        </td>

        {% endif %}
        {% if 'period' in field.label_tag %}

    </tr>
            {% if '2' in field.label_tag %}
        </table>
<br>
            {% endif %}
        {% endif %}
{% endif %}
{% endif %}


{% if 'Test' in field.label_tag %}
{% if field.test_name1.data != None %}
            {% if 'name1' in field.label_tag %}
        <br>
        <table style="width: 100%;">
        <tr>
            <th>Test Name</th>
            <th>Test Score</th>
            <th>Test Max Score</th>
            <th>Test Date</th>
        </tr>
            {% endif %}
    {% if 'name' in field.label_tag %}
    <tr>
        {% endif %}
        {% if field.data != None %}

        <td>

        {{ field.data }}
        </td>

        {% endif %}
        {% if 'date' in field.label_tag %}

    </tr>
            {% if '3' in field.label_tag %}
        </table>
<br>
            {% endif %}
        {% endif %}
{% endif %}
{% endif %}



{% if 'Recommendation' in field.label_tag %}
{% if form.recommendation_name1.data != None %}
            {% if 'name1' in field.label_tag %}
        <br>
        <table style="width: 100%;">
        <tr>
            <th>Recommended By</th>
            <th>Their Email</th>
            <th>Their Phone Number</th>
        </tr>
            {% endif %}
    {% if 'name' in field.label_tag %}
    <tr>
        {% endif %}
        {% if field.data != None and 'letter' not in field.label_tag %}

        <td>

        {{ field.data }}
        </td>

        {% endif %}
        {% if 'phone' in field.label_tag %}

    </tr>
            {% if '2' in field.label_tag %}
        </table>
<br>
            {% endif %}
        {% endif %}
{% endif %}
{% endif %}



{% endfor %}

{% endfor %}
<br>
<br>
<div class="row">
</div>

{% endblock %}

{% block script %}

{{ block.super }}
<script>
var courses = {
    'AC': 'Applied Chemistry',
    'AP': 'Applied Physics',
    'BT': 'Bio-Technology',
    'CO': 'Computer Engineering',
    'CE': 'Civil Engineering',
    'EC': 'Electronics and Communication Engineering',
    'EE': 'Electrical Engineering',
    'IT': 'Information Technology',
    'ME': 'Mechanical Engineering'
}

$(document).ready(function(){
for(var key in courses) {
var ele = $( "div:contains('"+key+"')" ).get(2)
if(ele) {
    ele.textContent = "("+key+")"+" "+courses[key]
    }
}
})

$(document).ready(function(){
for(var key in courses) {
var ele = $( "div:contains('"+key+"')" ).get(2)
if(ele) {
    ele.textContent = "("+key+")"+" "+courses[key]
    }
}
var countryEle = $("div:contains('Country')")
var ele1 = $(countryEle.get(2)).next()
var ele2 = $(countryEle.get(4)).next()
        jQuery.getJSON("https://restcountries.eu/rest/v2/alpha/"+ele1.text().trim(), function(data){
            ele1.text( data["name"])
        })
        jQuery.getJSON("https://restcountries.eu/rest/v2/alpha/"+ele2.text().trim(), function(data){
            ele2.text( data["name"])
        })
})

</script>

{% endblock %}