{% extends 'base.html' %}
{% block otherlibs %}
<style>
  .form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
{% endblock %}
  {% block title %}
  Sign up for filling form
  {% endblock %}
  {% block content %}
<div class="container">
  <form method="post" class="form-signin">
    {% csrf_token %}
    {% for field in form %}
      <p>
        <br>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <br>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Sign up</button>
    <br>
    <h4>Already Signed up : <a href="/application/login">login</a></h4>
  </form>
</div>
{% endblock %}
{% block script %}
<script>
$("input").addClass("form-control");
$("input[type='text']").attr("type", "email");
$("label[for='id_username']").text("Email: ");
$("#id_username").attr("placeholder", "Email Address");
$("#id_password1").attr("placeholder", "Password");
$("#id_password2").attr("placeholder", "Password Confirmation");
</script>
{% endblock %}